[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/numbers.vim"]
	path = bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/restore_view.vim"]
	path = bundle/restore_view.vim
	url = https://github.com/vim-scripts/restore_view.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vim-lint"]
	path = bundle/vim-lint
	url = https://github.com/dbakker/vim-lint.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/base16"]
	path = bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "guicolorscheme.vim"]
	path = guicolorscheme.vim
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/tmux.vim"]
	path = bundle/tmux.vim
	url = https://github.com/keith/tmux.vim.git
[submodule "bundle/vim-airline-theme"]
	path = bundle/vim-airline-theme
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-material-theme"]
	path = bundle/vim-material-theme
	url = https://github.com/jdkanani/vim-material-theme
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/vim-wwdc16-theme"]
	path = bundle/vim-wwdc16-theme
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
