[submodule "pack/bundle/start/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "pack/bundle/start/numbers.vim"]
	path = pack/bundle/start/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "pack/bundle/start/restore_view.vim"]
	path = pack/bundle/start/restore_view.vim
	url = https://github.com/vim-scripts/restore_view.vim.git
[submodule "pack/bundle/start/syntastic"]
	path = pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "pack/bundle/start/vim-autoclose"]
	path = pack/bundle/start/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "pack/bundle/start/vim-indent-guides"]
	path = pack/bundle/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/neocomplete.vim"]
	path = pack/bundle/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "pack/bundle/start/vim-lint"]
	path = pack/bundle/start/vim-lint
	url = https://github.com/dbakker/vim-lint.git
[submodule "pack/bundle/start/nerdcommenter"]
	path = pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/bundle/start/rainbow_parentheses.vim"]
	path = pack/bundle/start/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "pack/bundle/start/vim-dispatch"]
	path = pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/bundle/start/tabular"]
	path = pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "guicolorscheme.vim"]
	path = guicolorscheme.vim
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "pack/bundle/start/vim-sexp"]
	path = pack/bundle/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "pack/bundle/start/jellybeans"]
	path = pack/bundle/start/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "pack/bundle/start/vim-airline-theme"]
	path = pack/bundle/start/vim-airline-theme
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/bundle/start/vim-material-theme"]
	path = bundle/vim-material-theme
	url = https://github.com/jdkanani/vim-material-theme
[submodule "pack/bundle/start/haskell-vim"]
	path = pack/bundle/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "pack/bundle/start/vim-instant-markdown"]
	path = pack/bundle/start/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "pack/bundle/start/vim-vinegar"]
	path = pack/bundle/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "pack/bundle/start/vim-gitgutter"]
	path = pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/bundle/start/neco-ghc"]
	path = pack/bundle/start/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "pack/bundle/start/ghcmod-vim"]
	path = pack/bundle/start/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "pack/bundle/start/vimproc"]
	path = pack/bundle/start/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-colors-solarized"]
	path = pack/bundle/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "pack/bundle/start/coquille"]
	path = pack/bundle/start/coquille
	url = git@github.com:the-lambda-church/coquille.git
